<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.daero.service.mapper.ServiceMapper">
    <select id="selectNoticeList" resultMap="mappingNoticeDto">
        SELECT title, content, created_at
        FROM daero.notice
    </select>

    <select id="selectFaqList" resultMap="mappingFaqDto">
        SELECT title, content, created_at
        FROM daero.faq
    </select>

    <select id="selectInquiryCountByUserSeq" parameterType="_int" resultType="_int">
        SELECT COUNT(*)
        FROM daero.inquires
        WHERE `users_seq`=#{userSeq}
    </select>

    <select id="selectInquiryList" parameterType="_int" resultMap="mappingInquiryDto">
        SELECT `title`,
               `content`,
               `created_at`,
               `answer_yn`,
               `answer`,
               `answer_at`
        FROM daero.inquires i
        WHERE `users_seq` = #{userSeq}
    </select>

    <insert id="insertInquiry">
        INSERT INTO daero.inquires (`users_seq`, `title`, `content`, `created_at`)
        VALUES (#{userSeq}, #{title}, #{content}, DATE_FORMAT(now(), '%Y-%m-%d %T'))
    </insert>

    <resultMap id="mappingNoticeDto" type="com.ssafy.daero.service.dto.NoticeDto">
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <resultMap id="mappingFaqDto" type="com.ssafy.daero.service.dto.FaqDto">
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <resultMap id="mappingInquiryDto" type="com.ssafy.daero.service.dto.InquiryDto">
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="created_at" column="created_at" />
        <result property="answer_yn" column="answer_yn" />
        <result property="answer" column="answer" />
        <result property="answer_at" column="answer_at" />
    </resultMap>
</mapper>